

<div class="main container">

	<% if @user.errors.any? %>  
 	<div class="alert alert-block alert-error">
   		<a class="close" data-dismiss='alert' href="#">×</a>
   		<p><strong>有 <%= @user.errors.count %> 处问题导至无法保存:</strong></p>
   		<ul>
   			<% @user.errors.full_messages.each do |msg| %>
     			<li><%= msg %></li>
   			<% end %>
   		</ul>
 	</div>
	<% end %>

	<div class="post">
		<%= render "form" %>
	</div>
</div>